/* SECTION ARTICLE */
.section-articles {
    width: 100%;
    padding: 4rem 0rem 4rem 0rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 2.0rem;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

/* ARTICLE TITLE - BUTTONS */
.section-articles-top {
    width: 100%;
    padding: 0 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.section-articles-top h2 {
    color: var(--white-color);
    font-family: Inter;
    font-weight: 900;
    font-size: 2.2rem;
    line-height: 2.2rem;
    align-self: center;
}

.section-articles-top .arrow-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 1.0rem;
}

.section-articles-top .arrow-buttons .button {
    cursor: pointer;
    display: flex;
    place-self: center;
    background-color: var(--gray3-color);
    padding: .8rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}

.section-articles-top .arrow-buttons .button svg {
    height: 1.6rem;
    width: 1.6rem;
}
.section-articles-top .arrow-buttons .button svg path {
    fill: var(--white-color);
}

/* PROJECTS / BLOGS */
.articles {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.article {
    display: flex;
    flex-direction: column;
    width: 31.6rem;
    padding: .8rem;
    gap: .8rem;
    background-color: var(--gray3-color);
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}

.article-project {
    height: 29.821rem;
}

.article-blog {
    /* height: 26.473rem; */
}

/* PROJECT IMG / BLOG IMG */
.article-img {
    width: 100%;
    display: flex;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}
.article-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}

/* PROJECT INFO / BLOG INFO */
.article-info {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.article-blog .article-info {
    gap: 1.2rem;
}

.article-project .article-info .project-title {
    text-align: left;
    color: var(--white-color);
    font-family: Inter;
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 2.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-blog .article-info .article-title {
    color: var(--white-color);
    font-family: Inter;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    height: 4.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-blog .article-info time {
    color: var(--gray5-color);
    font-family: Inter;
    font-weight: 500;
    font-size: 1.4rem;
}



/* PROJECT INFO TECHNOLOGIES */
.article-technologies {
    display: flex;
    flex-direction: row;
    column-gap: .8rem;
}
.article-technologies div {
    list-style: none;
    display: flex;
    align-self: center;
    background-color: var(--gray2-color);
    padding: .8rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.article-technologies div svg {
    height: 1.6rem;
    width: 1.6rem;
}

/* PROJECT INFO BUTTONS */
.article-buttons {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: .8rem;
}
.article-buttons .button {
    padding: 1.2rem 2.2rem;
    font-family: Inter;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: bold;
    text-align: center;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.article-buttons .button:nth-child(1) {
    color: var(--gray5-color);
    background-color: var(--gray2-color);
}
.article-buttons .button:nth-child(2) {
    color: var(--white-color);
    background-color: var(--blue-color);
}

/* SEE MORE */
.see-more-button {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: flex;
    place-self: center;
    align-self: center;
    background-color: var(--gray3-color);
    padding: .8rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.see-more-button svg {
    height: 2.4rem;
    width: 2.4rem;
}
.see-more-button svg path {
    fill: var(--white-color);
}

@media (max-width: 650px) {
    .section-articles {
        padding: 4.0rem 0rem 4.0rem 0rem;
    }
    
    .section-articles-top {
        width: 100%;
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
    }
}