.section-footer {
    width: 100%;
    padding: 4rem 8rem 4rem 8rem;
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 2.0rem;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.footer-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.footer-info p {
    color: var(--gray5-color);
    font-family: Inter;
    font-weight: 500;
    font-size: 1.2rem;
}

/* SOCIAL MEDIA */
.footer-social {
    display: flex;
    flex-direction: row;
    column-gap: 2.4rem;
}
.footer-info .footer-social .footer-social-item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-self: center;
}
.footer-info .footer-social .footer-social-item .footer-social-link {
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
}
.footer-social-link svg {
    height: 2.4rem;
    width: 2.4rem;
}
.footer-social-link svg path {
    fill: var(--gray4-color);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.footer-social-link:hover svg path {
    fill: var(--white-color);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

@media (max-width: 650px) {
    .section-footer {
        padding: 4rem 2rem 4rem 2rem;
    }
}