.swiper {
    display: flex;
    justify-content: left;
    width: 100%;
    overflow: hidden;
}
.swiper-wrapper {
    height: 100%;
    display: flex;
    /* gap: 2rem; */
}
.swiper-slide {
    margin-left: 2rem;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.swiper-slide:first-child {
    margin-left: 8rem;
}
.swiper-slide:last-child {
    margin-right: 8rem;
}
.swiper-button-next-blog, .swiper-button-prev-blog, .swiper-button-next-projects, .swiper-button-prev-projects {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next-projects.swiper-button-disabled, .swiper-button-prev-projects.swiper-button-disabled,
.swiper-button-next-blog.swiper-button-disabled, .swiper-button-prev-blog.swiper-button-disabled {
  opacity: 0.3;
}

@media (max-width: 650px) {
    .swiper-slide:first-child {
        margin-left: 2rem;
    }
    .swiper-slide:last-child {
        margin-right: 2rem;
    }
}