/* SECTION */
.section-biography {
    width: 100%;
    margin: 5.0rem 0;
    padding: 7.5rem 8.0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

/* BIOGRAPGY INFO*/
.biography-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 2.4rem;
    min-width: 260px;
    max-width: 690px;
}

/* H1 */
.biography-info h1 {
    display: inline-block;
    position: relative;
    color: var(--white-color);
    font-family: Inter;
    font-weight: 900;
    font-size: 7.2rem;
    line-height: 8.0rem;
}
.biography-info h1 span {
    color: var(--blue-color);
}
.biography-info h1::before {
    content: "<h1>";
    position: absolute;
    top: -4.8rem;
    left: 0;
    color: var(--gray5-color);
    font-family: "La Belle Aurore";
    font-size: 2.4rem;
}
.biography-info h1 .last-letter::after {
    position: relative;
    content: "</h1>";
    left: 1.2rem;
    color: var(--gray5-color);
    font-family: "La Belle Aurore";
    font-size: 2.4rem;
}

/* H2 */
.biography-info h2 {
    display: inline-block;
    position: relative;
    color: var(--white-color);
    font-family: Inter;
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 2.8rem;
}
.biography-info h2::before {
    content: "<p>";
    position: absolute;
    top: -3.0rem;
    left: 0;
    color: var(--gray5-color);
    font-family: "La Belle Aurore";
    font-size: 2.4rem;
}
.biography-info h2 .last-letter::after {
    position: relative;
    content: "</p>";
    left: 1.2rem;
    color: var(--gray5-color);
    font-family: "La Belle Aurore";
    font-size: 2.4rem;
}

/* NAV SOCIAL */
.biography-info .biography-social {
    display: flex;
    flex-direction: row;
    column-gap: 2.4rem;
}
.biography-info .biography-social .biography-social-item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-self: center;
}
.biography-info .biography-social .biography-social-item .biography-social-link {
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
}
.biography-social-link svg {
    height: 2.4rem;
    width: 2.4rem;
}
.biography-social-link svg path {
    fill: var(--gray5-color);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.biography-social-link:hover svg path {
    fill: var(--white-color);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

/* BUTTONS */
.biography-buttons {
    display: flex;
    flex-direction: row;
    gap: 1.0rem;
}
.biography-buttons .button {
    text-decoration: none;
    padding: 1.2rem 2.2rem;
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.biography-buttons .button:nth-child(1) {
    color: var(--gray6-color);
    background-color: var(--gray4-color);
}
.biography-buttons .button:nth-child(2) {
    color: var(--white-color);
    background-color: var(--blue-color);
}

/* BIOGRAPGY AVATAR */
.biography-avatar {
    display: flex;
    align-self: center;
    width: 28.0rem;
    height: 27.1rem;
}
.biography-avatar img {
    height: 100%;
}

@media (max-width: 1150px) {
    .biography-avatar {
        display: none;
    }
}

@media (max-width: 650px) {
    .section-biography {
        padding: 5.0rem 2.0rem;
    }
}