/* SECTION ARTICLE */
.section-contact {
    width: 100%;
    padding: 4rem 8rem 4rem 8rem;
    display: flex;
    flex-direction: column;
    align-content: left;
    gap: 2.0rem;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

/* CONTACT TITLE - DESCRIPTION */
.section-contact-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 2.0rem;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.section-contact-top h3 {
    color: var(--white-color);
    font-family: Inter;
    font-weight: 900;
    font-size: 2.2rem;
    line-height: 2.2rem;
}

.section-contact-top p {
    color: var(--gray6-color);
    font-family: Inter;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.0rem;
}

/* FORM */
.section-contact form {
    display: grid;
    width: 100%;
    grid-template-areas:
    "name message"
    "email message"
    "submit sbumit";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6.7rem 6.7rem 3.8rem;
    flex-direction: column;
    gap: 2rem;
    overflow-x: hidden;
}

.name {
    display: grid;
    grid-auto-flow: row;
    grid-area: name;
    gap: 1rem;
    height: 100%;
}
.email {
    display: grid;
    grid-auto-flow: row;
    grid-area: email;
    gap: 1rem;
    height: 100%;
}

.message {
    display: grid;
    grid-auto-flow: row;
    grid-area: message;
    gap: 1rem;
    height: 100%;
}

.submit {
    display: grid;
    grid-auto-flow: row;
    grid-area: submit;
    gap: 1rem;
    height: 100%;
}

.section-contact form label {
    color: var(--gray6-color);
    font-family: Inter;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.6rem;
    height: 1.6rem;
}

.section-contact form input {
    display: flex;
    width: 100%;
    height: 4.1rem;
    padding: .8rem;
    background-color: var(--gray4-color);
    border: none;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    color: var(--white-color);
    font-family: Inter;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.section-contact form input::placeholder {
    color: var(--gray6-color);
    font-family: Inter;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.section-contact form input:focus-visible {
    outline: none;
}

.section-contact form textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 12.8rem;
    max-height: 12.8rem;
    padding: .8rem;
    background-color: var(--gray4-color);
    border: none;
    resize: none;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    color: var(--white-color);
    font-family: Inter;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.section-contact form textarea::placeholder {
    color: var(--gray6-color);
    font-family: Inter;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.section-contact form textarea:focus-visible {
    outline: none;
}

.section-contact .submit {
    width: 16.0rem;
    height: 3.8rem;
    color: var(--white-color);
    background-color: var(--blue-color);
    border: none;
    text-decoration: none;
    padding: 1.2rem 2.2rem;
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}

@media (max-width: 960px) {
    .section-contact form {
        grid-template-areas:
        "name"
        "email"
        "message"
        "submit";
        grid-template-columns: minmax(0rem, 55.0rem);
        grid-template-rows: 6.7rem 6.7rem 15.4rem 3.8rem;
    }
}

@media (max-width: 650px) {
    .section-contact {
        padding: 4rem 2rem 4rem 2rem;
    }

    .section-contact form {
        width: 100%;
        grid-template-columns: minmax(2.6rem, 55.0rem);
    }
}