@import url(./css/page-projects-blog.css);
@import url(./css/header.css);
@import url(./css/main.css);
@import url(./css/biography.css);
@import url(./css/featured-project.css);
@import url(./css/articles.css);
@import url(./css/swiper.css);
@import url(./css/about.css);
@import url(./css/services.css);
@import url(./css/contact.css);
@import url(./css/footer.css);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scrollbar-width: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    
    --gray1-color: #1F2028;
    --gray2-color: #262830;
    --gray3-color: #2E3039;
    --gray4-color: #43454c;
    --gray5-color: #a9adc1;
    --white-color: #FFF;
    --blue-color: #07ADEF;
}

img::selection {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    max-width: 1280px;
    background-color: var(--gray1-color);
    overflow-x: hidden;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

#button-up {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    font-size: 2.4rem;
    background-color: var(--blue-color);
    color: var(--white-color);
    position: fixed;
    bottom: 80px;
    right: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

hr {
    margin: 0 auto;
    width: calc(100% - 16.0rem);
    border: 1px solid var(--gray3-color);
}

a {
    text-decoration: none;
}

@media (max-width: 650px) {
    #button-up {
        right: 20px;
    }

    hr {
        width: calc(100% - 4.0rem);
    }
}