/* SECTION */
.section-projects {
    width: 100%;
    padding: 5rem 0rem 5rem 8rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 2.0rem;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

/* SECTION TITLE / BUTTONS*/
.projects-top {
    width: calc(100% - 8.0rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.section-projects h2 {
    color: var(--white-color);
    font-family: Inter;
    font-weight: 900;
    font-size: 2.2rem;
    line-height: 2.2rem;
    align-self: center;
}

.projects-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 1.0rem;
}

.projects-buttons .button {
    cursor: pointer;
    display: flex;
    place-self: center;
    background-color: var(--gray4-color);
    padding: .8rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}

.projects-buttons .button svg {
    height: 1.6rem;
    width: 1.6rem;
}
.projects-buttons .button svg path {
    fill: var(--white-color);
}

/* PROJECTS */
.projects {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2rem;
    overflow-x: hidden;
}

.project {
    display: flex;
    flex-direction: column;
    width: 31.6rem;
    /* height: 294.217rem; */
    padding: .8rem;
    gap: .8rem;
    background-color: var(--gray4-color);
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}

/* PROJECT IMG */
.project-img {
    width: 30.0rem;
    /* height: 16.467rem; */
    display: flex;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}
.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}

/* PROJECT INFO */
.project-info {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.project-info .title {
    color: var(--white-color);
    font-family: Inter;
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 2.0rem;
}

/* PROJECT INFO TECHNOLOGIES */
.project-technologies {
    display: flex;
    flex-direction: row;
    column-gap: .8rem;
}
.project-technologies div {
    list-style: none;
    display: flex;
    align-self: center;
    background-color: var(--gray3-color);
    padding: .8rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.project-technologies div svg {
    height: 1.6rem;
    width: 1.6rem;
}

/* PROJECT INFO BUTTONS */
.project-buttons {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: .8rem;
}
.project-buttons .button {
    text-decoration: none;
    padding: 1.2rem 2.2rem;
    font-family: Inter;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: bold;
    text-align: center;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.project-buttons .button:nth-child(1) {
    color: var(--gray6-color);
    background-color: var(--gray3-color);
}
.project-buttons .button:nth-child(2) {
    color: var(--white-color);
    background-color: var(--blue-color);
}

/* SEE MORE */
.see-more-button {
    cursor: pointer;
    display: flex;
    place-self: center;
    background-color: var(--gray4-color);
    padding: .8rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.see-more-button svg {
    height: 2.4rem;
    width: 2.4rem;
}
.see-more-button svg path {
    fill: var(--white-color);
}

@media (max-width: 650px) {
    .section-projects {
        padding: 5.0rem 2.0rem;
    }

    .projects-top {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .project {
        width: 26.0rem;
        height: 31.167rem;
    }
    
    /* PROJECT IMG */
    .project-img {
        width: 24.4rem;
        height: 13.343rem;
    }
    
    /* PROJECT INFO BUTTONS */
    .project-buttons {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        gap: .8rem;
    }
}